@import url(https://fonts.googleapis.com/css?family=Raleway|Oswald);
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #00171F;
  background-size: cover;
}

canvas{
  position: absolute;
  z-index: 0;
}

#mainNav {
  color: white;
  font-family: Oswald;
  width: 250px;
  min-width: 235px;
  display: inline-block;
  position: relative;
}

#mainNav ul{
  width: 60%;
  background-color: rgba(232, 232, 232, 0.03);
  position: absolute;
  top: 10vh;
  /* transform: translateY(-50%); */
  padding-left: 10%;
}

#mainNav ul li{
  font-size: 1.5em;
  list-style-type: none;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}

#mainNav ul li:hover{
  cursor: pointer;
  color: #ff6633;
  border-right: 6px solid #ff6633;
  background-color: rgba(232, 232, 232, 0.02);
  transition-delay: 0s;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: ease;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

#mainNav a {
  color: white;
  text-decoration: none;
}

